**/obj/
**/bin/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/node_modules/
**/dist/
**/wwwroot/
**/appsettings*.json
**/docker-compose*
**/*.db
**/*.mdf
**/*.ldf
**/*.sqlite
**/*.sqlite3
**/*.bak
**/*.log
**/logs/
**/secrets/
**/certs/
**/keys/
**/temp/
**/tmp/
**/packages/
**/nuget/
**/artifacts/